:root {
    --bg-color: #f5f5f5;
    --text-color: #6c757d;
    --accent-color: #ffd333;
    --contract-color: #3d464d;
    --grey-color: #ccc;
}

html, body {
    height: 100%;
}

a {
    color: var(--text-color);
    text-decoration: underline;
}

a:hover {
    color: var(--text-color);
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.btn,
.dropdown-menu,
.form-control
{
    border-radius: 0;
}

.form-control:focus {
    color: var(--text-color);
    border-color: var(--accent-color);
    box-shadow: none;
}

.form-control::placeholder {
    color: var(--grey-color);
}

.btn-warning {
    background-color: var(--accent-color);
    color: var(--contract-color);
}

.btn-outline-warning
{
    border-color: var(--accent-color);
}

.btn-warning {
    background-color: var(--accent-color) !important;
} 

.btn-outline-warning:hover {
    background-color: var(--accent-color);
    color: var(--contract-color);
}

/* ++++++++++++++++ Ganeral+++++++++++++++++++++++ */
body {
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}
/* ++++++++++++++++ Ganeral End +++++++++++++++++++++++ */


/* ++++++++++++++++ Header Start+++++++++++++++++++++++ */

.header-top-phone a{
    text-decoration: none;
}

.header-top-phone a:hover {
    text-decoration: underline;
}

ul.social-icons {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    
}

ul.social-icons li {
    margin-right: 10px;

}

ul.social-icons a {
    
    background-color: var(--accent-color);
    color: var(--contract-color);
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    float: left;
    text-align: center;
    transition: all .3s;
}

ul.social-icons a:hover {

    background-color: var(--contract-color);
    color: var(--accent-color);
   
}

.header-top .btn {
    background-color: #fff;
}

.header-logo {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--accent-color);
    transition: all .3s;
}
.header-logo:hover {
    color: var(--contract-color);
}

.cart-buttons .btn {
    color: var(--contract-color);
    transition: all .3s;
}

.cart-buttons .btn:hover {
    border: 1px solid var(--contract-color);
}
/* ++++++++++++++++ Header End +++++++++++++++++++++++ */
